*{
   font-weight: normal; 
}


p, h1,  h2 {
margin-left:50px;
}

h1{
    font-weight: bold ;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav p img{
    height: 70px;
    margin-top: 30px;

}
nav ul{
    display: flex;

    list-style: none;
    
}

nav li{
    margin:30px 10px 0 50px;
    font-size: 20px ;

    
}

/*Les liens de la nav*/
nav li a{
    text-decoration: none;
    color: #248dad;
    font-weight: bold;
}

nav li a:hover {
    
    text-decoration: overline;

}

.menu_color {

    color: black;

}


/*LE BODY*/
/*les modifications de h2*/
.size_title{
    font-size: 1em;
    
}

h2{
        font-size:1.200em;
        padding-left:70px;
        margin: -15px;
      }



  /*BARRE DE RECHERCHE*/

 
  

  #citysearch {
      position:relative;
     
      border-radius:10px 1px 1px 10px;
      width: 200px;
      padding: 10px;
      border-width: 1px;
      font-size: 20px;
     
     

      
  }

  .searchbar{
      display: flex;
      flex-direction:row;
      margin-top: 40px;
      margin-left: 50px;
      font-size: 20px;
      border-color: rgba(255,255,255,255);
      }

 .bottonsearch{

    margin-left: -05px;
    border-radius:10px;
    border-width: 1px;
    font-size: 20px;
    color:white;
    background-color:#0065FC ;
    border: 0;
    border-radius:0px 10px 10px 0px;
     }
      
      
 
  

  /*Les filtres*/
  .filtres li a{
      text-decoration: none;
   display: flex;
    justify-content: space-between;
    align-items: center;
}