* {
	font-weight: normal;
}

body{
	padding-left: 50px;
}	

h1 {
	font-weight: bold;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav img {
	height: 70px;
	margin-top: 30px;
}
nav ul {
	display: flex;
	list-style: none;
}
nav li {
	margin: 30px 10px 0 50px;
	font-size: 20px;
}
/*Les liens de la nav*/

nav li a {
	text-decoration: none;
	color: #1974fc;
	font-weight: bold;
}
.menu_color {
	color: black;
}
/*LE BODY*/

/*les modifications de h2*/

.size_title {
	font-size: 1em;
}
h2 {
	font-size: 1.200em;
	margin-top: -15px;
}
/*BARRE DE RECHERCHE*/

.icon {
	background-color: #f2f2f2;
	border-radius: 20px 0px 0px 20px;
	font-size: 20px;
	padding: 15px 20px 15px 20px;
}
#citysearch {
	position: relative;
	width: 200px;
	padding: 10px;
	border-width: -5px;
	font-size: 20px;
	font-weight: bold;
	border: 1px #f2f2f2 solid;
}
.searchbar {
	display: flex;
	flex-direction: row;
	margin-top: 40px;

	font-size: 20px;
	border: 0;
}
.bottonsearch {
	width: 128px;
	margin-left: -05px;
	border-radius: 10px;
	border-width: 5px;
	font-size: 18px;
	color: white;
	background-color: #0065FC;
	border: 0;
	border-radius: 0px 20px 20px 0px;
}
/*Les filtres*/

.filters {
	display: flex;
	align-items: center;
	font-size: 20px;
	text-align: justify;
}
.filters > p {
	font-weight: bold;
}
.filters > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.filters > ul > li {
	margin-right: 30px;
	border: solid #d9d9d9 1px;
	border-radius: 40px 40px 40px 40px;
	padding-bottom: 10px;
	padding-right: 10px;
	height: 40px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.filters > ul > li > i {
	color: #0065FC;
	border: 1px solid transparent;
	border-top: 10px;
	border-radius: 100px 100px 100px 100px;
	background-color: #deebff;
	padding: 20px 20px 20px 20px;
	margin-right: 10px;
	;
}
.filters ul a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.hoverfiltrer:hover {
	color: rgb(197, 110, 151);
	font-weight: bold;
	font-size: 21px;
}
/*INFORMATION*/

.info {
	display: flex;
	flex-direction: row;
}

.infoicon {
	padding-top: 15px;
		
}

.infoicon > i {
	display: flex;
	align-items: center;
	border: 1px solid #d9d9d9;
	border-radius: 100px 100px 100px 100px;
	padding: 5px 5px 5px 5px;
	color: #0065FC;
	font-size:10px;
	width: 5px;
	height: 05px;
	margin-right: 10px;
}
/*Hebergement*/

.hotels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px 40px;
	margin: 0 0px 40px 50px;
	padding-right: 20px;
}

#tallcontainer {
    width: 60%;
    
	border: 3px solid rgba(242, 242, 242, 255);
	background-color: rgba(242, 242, 242, 255);
	border-radius: 20px 20px 20px 20px;
	
	margin-top: 20px;
}

#tallcontainerpopular {
    width: 35%;
	border: 3px solid rgba(242, 242, 242, 255);
	background-color: rgba(242, 242, 242, 255);
	border-radius: 20px 20px 20px 20px;
    margin-left: 70px;
    margin-top: 20px;
}

 
.hotels-container {
    display: flex;
	margin-right: 10px;
}


.titlehebergement {
	margin-top: 30px;
	font-weight: bold;
	height: 60px;
}
.itemhotel {
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 90%;
	height: 85%;
}
.hotels > article> h3 {
	font-weight: bold;
}
.itemhotel {
	padding: 10px;
}
.hotelimg {
	height: 200px;
}
.hotelimg > img {
	border-radius: 30px 30px 0px 0px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.buttonadd {
	font-weight: bold;
}



.titlemostpopular {
	margin-top: 40px;
	font-weight: bold;
	height: 60px;
}

.itemmostpopular{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;;
    border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
    width: 40%;
	height: 20%;
	margin-left: 40px;
}

 .hotelimgpopular >img {
    border-radius:30px 0px 0px 30px;
    width: 97%;
	height: 200px;
	
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
	object-fit: cover;
}


#main1{

display: flex;
flex-direction: column;
} 

.itemmostpopular{
display: flex;
flex-direction: row;

}

 .p{
	display:flex;
	flex-direction: column;
}



/*ACTIVITIES*/


.Activities{
	margin-top: 100px;
	margin-right: 20px;
}
.Activitiesitem{
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	margin-left:  40px;
	width: 90%;
	height: 85%;
}

.Activitiesimg > img{
		border-radius: 30px 30px 0px 0px;
		width: 30%;
		height: 30%;
		object-fit: cover;
}


/*Le main1 regoupe 3 photos*/

#main1{
	display:flex;

}