* {
	font-weight: normal;
}

body{
	padding-left: 50px;
	padding-right:50px;
}	

h1 {
	font-weight: bold;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav img {
	height: 70px;
	margin-top: 30px;
}
nav ul {
	display: flex;
	list-style: none;
}
nav li {
	margin: 30px 10px 0 50px;
	font-size: 20px;
}
/*Les liens de la nav*/

nav li a {
	text-decoration: none;
	color: #1974fc;
	font-weight: bold;
}
.menu_color {
	color: black;
}
/*LE BODY*/

/*les modifications de h2*/

.size_title {
	font-size: 1em;
}
h2 {
	font-size: 1.200em;
	margin-top: -15px;
}
/*BARRE DE RECHERCHE*/

.icon {
	background-color: #f2f2f2;
	border-radius: 20px 0px 0px 20px;
	font-size: 20px;
	padding: 15px 20px 15px 20px;
}
#citysearch {
	position: relative;
	width: 200px;
	padding: 10px;
	border-width: -5px;
	font-size: 20px;
	font-weight: bold;
	border: 1px #f2f2f2 solid;
}
.searchbar {
	display: flex;
	flex-direction: row;
	margin-top: 40px;

	font-size: 20px;
	border: 0;
}
.bottonsearch {
	width: 128px;
	margin-left: -05px;
	border-radius: 10px;
	border-width: 5px;
	font-size: 18px;
	color: white;
	background-color: #0065FC;
	border: 0;
	border-radius: 0px 20px 20px 0px;
}
/*Les filtres*/

.filters {
	display: flex;
	align-items: center;
	font-size: 20px;
	text-align: justify;
}
.filters > p {
	font-weight: bold;
}
.filters > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.filters > ul > li {
	margin-right: 30px;
	border: solid #d9d9d9 1px;
	border-radius: 40px 40px 40px 40px;
	padding-bottom: 10px;
	padding-right: 10px;
	height: 40px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.filters > ul > li > i {
	color: #0065FC;
	border: 1px solid transparent;
	border-top: 10px;
	border-radius: 100px 100px 100px 100px;
	background-color: #deebff;
	padding: 20px 20px 20px 20px;
	margin-right: 10px;
	;
}
.filters ul a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.hoverfiltrer:hover {
	color: rgb(197, 110, 151);
	font-weight: bold;
	font-size: 21px;
}
/*INFORMATION*/

.info {
	display: flex;
	flex-direction: row;
}

.infoicon {
	padding-top: 15px;
		
}

.infoicon > i {
	display: flex;
	align-items: center;
	border: 1px solid #d9d9d9;
	border-radius: 100px 100px 100px 100px;
	padding: 5px 5px 5px 5px;
	color: #0065FC;
	font-size:10px;
	width: 5px;
	height: 05px;
	margin-right: 10px;
}
/*Hebergement*/

.hotels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px 40px;
	margin: 0 0px 40px 50px;
	padding-right: 20px;
}

/*marge par defaut du navigateur par défaut de l'Hébergement*/
.hotels h3 {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-left: 09px;
}

.hotels p{
	margin-block-start: 0.2em;
	margin-block-end: 0em;
	margin-left: 10px;
}

.hotels i{
	margin-block-start: 0.2em;
	
}

/*marge par defaut du navigateur par défaut des plus populaire*/

.itemmostpopular p{
	margin-block-start: 0em;
	margin-block-end: 0em;
    text-decoration: none;
}
.itemmostpopular h3{
	margin-block-end: 0.2em;
	padding-right:10px;
}

.itemmostpopular i{
	margin-block-start: 2em;
}

#tallcontainer {
    width: 65%;
    border: 3px solid rgba(242, 242, 242, 255);
	background-color: rgba(242, 242, 242, 255);
	border-radius: 20px 20px 20px 20px;
	margin-top: 20px;
}

#tallcontainerpopular {
    width: 30%;
	border: 3px solid rgba(242, 242, 242, 255);
	background-color: rgba(242, 242, 242, 255);
	border-radius: 20px 20px 20px 20px;
    margin-left: 70px;
    margin-top: 20px;
}

 
.hotels-container {
    display: flex;
	margin-right: 10px;
}


.titlehebergement {
	margin-top: 15px;
	padding-left: 60px;
	font-weight: bold;
	padding-top: 40px;
    font-size:25px;
}
.itemhotel {
	border-width: 2px;
	margin-bottom: 10px;
	margin-right: 20px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 90%;
	height: 220px;
	padding: 02px;
	
}

.itemclick{
	text-decoration: none;
	color:black;
}

.hotelimg > img {
	border-radius: 30px 30px 0px 0px;
	width: 299px;
	height: 140px;
	object-fit: cover;
	padding-right:1px;
	padding-left: 1px;
	padding-top: 1px;
	background-size: cover;
}
.buttonadd {
	font-weight: bold;
}

.titlemostpopular {
	padding-top: 70px;
	margin-left: 45px;
	font-weight: bold;
    font-size:25px;
}

.itemmostpopular{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
    width: 83%;
	height: 170px;
	margin-left: 40px;
	
}

 .hotelimgpopular >img {
    border-radius:30px 0px 0px 30px;
    object-fit: cover;
	background-size: cover;
	padding-left:5px;
	padding-right:5px;
	padding-top: 5px;
    width: 160px;
    height: 160px;
}


#main{

display: flex;
flex-direction: column;
} 

.itemmostpopular{
display: flex;
flex-direction: row;

}

.itemhotel > h3{
	font-weight: bold;
}
.itemmostpopular > div > h3{
 font-weight: bold;
}
.itemmostpopular > div{
	padding-left: 20px;
	text-decoration: none;	
	color: black;
}
mark{
	font-weight: bold;
	background: none;
}


/*Icon de star hebergement*/

.starhebergement{
	font-size: 13px;
	color: #0065fc;

}


/*Icon de star des plus populaires*/

.iconmostpopular{
	padding-top: 40px;
	font-size: 13px;
	color: #0065fc;
}

/*le deuxieme conteneur icon de star*/
.iconmostpopular1{
	padding-top: 20px;
	font-size: 13px;
	color: #0065fc;
}

.iconlaststar{
	color:#d9d9d9;
}




          /*ACTIVITIES*/
.titleactivities{
	font-weight: bold;
	font-size: 25px;
	margin-left:5px;
}

.Activities{
	margin-top: 90px;
}
/*Le main2 regoupe 3 photos en 2 parties*/

#main2{
	display:flex;
	flex-direction: row;

}
            /*LES GROS CONTENEURS*/
.activitiestallpopular{
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 5px 6px #ececec;
	background-color: #ffffff;
	width: 400px;
	height: 550px;
	margin-right: 60px;
	
}

.activitiestallimg > img{
	border-radius: 30px 30px 0px 0px;
	width: 400px;
	height: 480px;
	object-fit: cover;
}

               /*LES PETITS CONTENEURS AVEC DES DIMENSIONS DIFFERENTES*/

.activitiesitem1{
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 400px;
	height: 300px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.activitiesimg1 > img{
		border-radius: 30px 30px 0px 0px;
		width: 400px;
		height: 220px;
		object-fit: cover;
}


.activitiesitem2{
    border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 400px;
	height: 200px;
	margin-right: 50px;
}

.activitiesimg2 > img{
	border-radius: 30px 30px 0px 0px;
	width: 400px;
	height:120px;
	object-fit: cover;
}

.activitiesitem3{
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 400px;
	height: 250px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.activitiesimg3 > img{
	border-radius: 30px 30px 0px 0px;
	width: 400px;
	height: 180px;
	object-fit: cover;
}

.activitiesitem4{
	border-width: 2px;
	border: 1px solid #ffffff;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 6px 6px 10px #ececec;
	background-color: #ffffff;
	width: 400px;
	height: 250px;
	margin-right: 50px;
}
.activitiesimg4 > img{
	border-radius: 30px 30px 0px 0px;
	width: 400px;
	height: 180px;
	object-fit: cover;
}

.titlecontenairact{
   font-weight: bold;
   padding-left:20px;
}

/*FOOTER*/

footer{
	position:absolute;
	padding-left:0;
	margin-top:50px;
	padding-top:50px;
	background-color:#ececec;
	width: 100%;
}